@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');

*{
    box-sizing: border-box;
    line-height: 1rem;
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Commissioner';
    min-width: 1340px;
}

/* ======================== Star Main Area ================ */
/* ======================== Star Header Area ================ */

header{
    background-image: url(./images/image-hero-desktop.jpg);
    background-size: contain; 
    background-repeat: no-repeat;
    height: 500px;
}
/* ======================== Star Navbar Area ================ */
.bar{
    display: flex;
    justify-content: space-between;
    padding: 3rem 13rem;
    align-items: center;
    font-family: 'Commissioner';
}

.bar-ul{
    display: flex;
    gap: 2rem;

}

.bar-li{
    list-style: none;
    color: hsl(0, 0%, 100%);
    font-size: 1.2rem;
    font-weight: 300;
    font-family: 'Commissioner';
}

.menu{
    display: none;
}
/* ======================== End Navbar Area ================ */
/* ======================== End Header Area ================ */
/* ======================== Start Home Section Area ================ */
#home{
    text-align: center;
    padding: 2rem 25rem;
}

/* ===========================Start Head Div AREA======================= */
.head{
    padding: 1rem 2rem;
    border-radius: 8px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 15px -2px hsl(0, 0%, 48%);
    margin-top: -8rem;
}

.head-img{
    margin-top: -3rem;
}

.head-h1{
    font-family: 'Commissioner';
    font-weight: 700;
    line-height: 1.5;
    font-size: 2rem;
    margin-top: 2rem;
    color: hsl(0, 0%, 0%);
}

.head-span{
    display: inline-block;
    margin-top: 2rem;
    line-height: 1.5;
    font-family: 'Commissioner';
    font-size: 1.2rem;
    font-weight: 300;
    color: hsl(0, 0%, 48%);
}

.head-btn{
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    padding-bottom: 2rem;
    align-items: center;
}

.back-btn{
    border-radius: 2rem;
    padding: 1rem 2.5rem;
    font-weight: 500;
    font-size: 1.2rem;
    color: white;
    border: none;
    background-color: hsl(176, 50%, 47%);
    cursor: pointer;
}

.back-btn:hover{
    background-color: hsl(176, 72%, 28%);
}

.book-btn{
    border-radius: 2rem;
    padding: 1rem 2rem 1rem 4rem;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.book-btn:hover{
    opacity: 50%;
}


.btn-img{
    position: absolute;
    height: 49px;
}

.active-bookmark {
    color: #292626;
    -webkit-filter: brightness(2.65) sepia(0.42) hue-rotate(129deg) saturate(5);
            filter: brightness(2.65) sepia(0.42) hue-rotate(129deg) saturate(5);
}

/* ===========================Start Detail Div AREA======================= */

#detail{
    padding: 1rem 2rem;
    border-radius: 8px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 15px -2px hsl(0, 0%, 48%);
    margin-top: 2rem;
}

.detail-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
}

.detail-h2{
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Commissioner';
    margin-top: 1rem;
    line-height: 1.5;
}

.detail-span{
    display: inline-block;
    color: hsl(0, 0%, 48%);
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 300;
    font-family:'Commissioner';
    line-height: 1.5;
}

.detail-hr{
    height: 4.5rem;
}

.per{
    height: 10px;
    margin: 2rem 0rem;
    width: 100%;
    background-color: hsl(0, 24%, 91%);
    border-radius: 15rem;

}

.empty{
    width: 89%;
    height: 10px;
    border-radius: 15rem;
    background-color: hsl(176, 50%, 47%);
}

/* ===========================Start Project Div AREA======================= */

#project{
    padding: 1rem 2.5rem;
    border-radius: 8px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 15px -2px hsl(0, 0%, 48%);
    margin-top: 2rem;
    text-align: start;
}

.project-h3{
    font-family: 'Commissioner';
    font-weight: 500;
    line-height: 1.5;
    font-size: 2rem;
    margin-top: 2rem;
    color: hsl(0, 0%, 0%);
}

.project-para{
    margin-top: 2rem;
    line-height: 1.5rem;
    font-family: 'Commissioner';
    font-size: 1.2rem;
    font-weight: 300;
    color: hsl(0, 0%, 48%);
}

.pledge{
    padding: 1rem 2rem;
    border-radius: 8px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 8px -2px hsl(0, 0%, 48%);
    margin-top: 2rem;
}

.name{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: center;
}

.name-h3{
    font-family: 'Commissioner';
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.5rem;
    color: hsl(0, 0%, 0%);
}

.name-span{
    display: inline-block;
    font-family: 'Commissioner';
    font-weight: 300;
    line-height: 1.5;
    font-size: 1.2rem;
    color: hsl(176, 50%, 47%);
}

.pledge-para{
    margin-top: 1rem;
    line-height: 1.5;
    font-family: 'Commissioner';
    font-size: 1rem;
    font-weight: 300;
    color: hsl(0, 0%, 48%);
}

.reward{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0rem;
    align-items: center;
}

.reward-h3{
    display: inline-block;
    font-family: 'Commissioner';
    font-weight: 700;
    line-height: 1.5;
    font-size: 2rem;
    color: hsl(0, 0%, 0%);
}

.h3-sup{
    display: inline-block;
    line-height: 1.5;
    font-family: 'Commissioner';
    font-size: 1.2rem;
    font-weight: 300;
    color: hsl(0, 0%, 48%);
}

.out{
    filter: opacity(40%);
}

.out .reward-btn{
    background-color: hsl(0, 0%, 48%);
}

.reward-btn{
    padding: 1rem 1.5rem;
    border-radius: 10rem;
    font-weight: 500;
    font-size: 1.2rem;
    color: white;
    border: none;
    background-color: hsl(176, 50%, 47%);
    cursor: pointer;
}


/* ======================== End Home Section Area ================ */
/* ===========================Start Model Section AREA======================= */
#model{
    padding: 2rem 29rem; 
    z-index: 1;
}

.model-div{
    padding: 1rem 3rem;
    border-radius: 8px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 15px -2px hsl(0, 0%, 48%);
    display: none;    
}

.model-h2{
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Commissioner';
    margin-top: 1.5rem;
}

.cross{
    float: right;
    margin-top: 0.5rem;
    cursor: pointer;
}

.model-h3{
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Commissioner';
    margin-top: 1.5rem;
    color: black;
}

.model-h3:hover{
    color: hsl(176, 50%, 47%);
}

.model-h3 input{
    margin-right: 0.4rem;
}

.p-span{
    margin-left: .6rem;
    font-weight: 500;
    font-size: 1rem;
    color: hsl(176, 50%, 47%);
}

.model-para{
    margin-top: 2rem;
    line-height: 1.5;
    font-family: 'Commissioner';
    font-size: 1rem;
    font-weight: 300;
    color: hsl(0, 0%, 48%);
}

.h3-div{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 1rem;
}

.model1-h3{
    display: inline-block;
    font-family: 'Commissioner';
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.5rem;
    color: hsl(0, 0%, 0%);
}

.money{
    padding: 2rem 0rem;
    display: none;
}

.money1{
    padding-top: 2rem;
    padding-bottom: 4.5rem;
}

.btn2{
    float: right;
    margin-top: 1rem;
}

.money-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.money-div1{
    display: flex;
    align-items: center;
    gap: 1rem;
    width:45%;
}

.money-h4{
    font-family: 'Commissioner';
    font-size: 1rem;
    font-weight: 500;
    color: hsl(0, 0%, 48%);
}

.dollor{
    position: absolute;
    color: hsl(0, 0%, 48%);
    font-weight: 500;
    font-size: 1.5rem;
    padding: 1rem;
}

.money-input{
    width: 70%;
    font-family: 'Commissioner';
    font-weight: 500;
    font-size: 1.5rem;
    color: hsl(0, 0%, 0%);
    padding: 0.2rem 2rem;
    border-radius: 2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.money-btn{
    padding: 1rem 1.5rem;
    border-radius: 10rem;
    font-weight: 500;
    font-size: 1.2rem;
    color: white;
    border: none;
    background-color: hsl(176, 50%, 47%);
    cursor: pointer;
}

/* ===========================End Model Section AREA======================= */
/* ===========================Start Thank Section AREA======================= */
#thank{
    text-align: center;
    padding: 1rem 32rem;
    
}

.thank-div{
    padding: 1rem 3rem;
    border-radius: 8px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 15px -2px hsl(0, 0%, 48%);
    display: none;
}

.thank-img{
    margin-top: 2rem;
}

.thank-h2{
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Commissioner';
    margin-top: 1rem;
    line-height: 1.5;
}

.thank-para{
    margin-top: 2rem;
    line-height: 1.5;
    font-family: 'Commissioner';
    font-size: 1.3rem;
    font-weight: 300;
    color: hsl(0, 0%, 48%);
}

.thank-btn{
    border-radius: 2rem;
    border: none;
    padding: 1rem 2rem;
    color: hsl(0, 0%, 100%);
    background-color: hsl(176, 72%, 28%);
    margin-top: 2rem;
    font-family: 'Commissioner';
    font-size: 1.2rem;
    font-weight: 300;
}
/* ===========================End Thank Section AREA======================= */

/* ======================== End Main Area ================ */

/* ======================== START Footer Area ================ */

.foot {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 20px;
    color: hsl(35, 77%, 62%);
    justify-content: center;
    background-color: hsl(240, 10%, 16%);
    padding: 5px;
  }
  
.foot a {
    color: hsl(5, 85%, 63%);
    text-decoration: none;
}

.foot a:hover{
    color: white;
}
  
  
  /* ======================== End Footer Area ================ */
  
  /* ======================== Start Media Querry Area ================ */
@media screen and (max-width: 1370px){

    #home{
        padding: 2rem 20rem ;
    }

    .head{
        margin-top: -12rem;
    }

    #thank{
        padding: 2rem 21rem;
    }

    #model{
        padding: 2rem 19rem;
    }
}  

@media screen and (max-width: 375px) {
    body{
        min-width: 375px;
    }

    header{
        background-image: url(./images/image-hero-mobile.jpg);
    }

    .bar{
        padding: 3rem 2rem;
    }

    .bar-ul{
        display: none;
        flex-direction: column;
        background-color: hsl(0, 0%, 100%);
        gap: 0;
        margin-top: 15rem;
        width: 86vw;
        height: auto;
        text-align: start;
        align-items: start;
        border-radius: 12px;
        position: absolute;
        box-shadow: 0 0 15px -2px hsl(0, 0%, 48%);

    }

    .bar-li{
        color: hsl(0, 0%, 0%);
        border-bottom: 1px solid hsl(0, 0%, 48%);
        padding: 1rem;
    }

    .menu{
        display: block;
    }

    #close{
        display: none;
    }

    #home, #model, #thank{
       padding: 2rem; 
    }

    .head{
        margin-top: -18rem;
    }

    .head-h1{
        font-size: 1.5rem;
    }

    .head-span{
        font-size: .7rem;
        font-weight: 500;
    }

    .head-btn{
        justify-content: center;
        gap: 0.5rem;

    }

    .back-btn{
        font-size: 1rem;
        padding: 1rem ;
    }

    .btn-img{
        position: relative;
    }

    .book-btn{
        display: none;
    }

    .detail-div{
        flex-direction: column;
    }

    .detail-hr{
        margin-top: 1rem;
        height: auto;
        width: 50%;
    }

    .detail-span{
        margin-top: 0.1rem;
    }

    .model-div .pledge{
        padding-bottom: 5rem;
    }

    .name, .reward{
        flex-direction: column;
        text-align: start;
        align-items: start;
    }

    .project-h3{
        font-size: 1.2rem;
        font-weight: 700;
    }

    .name-h3{
        font-weight: 700;
        font-size: 0.7rem;
    }

    .name-span{
        font-size: 0.7rem;
    }

    .project-para{
        font-size: 0.73rem;
    }

    .pledge-para{
        font-size: 0.63rem;
    }

    .reward-btn{
        font-size: 0.90rem;
        padding: 0.8rem 1rem;
        margin-top: 1rem;
    }

    .model-div, .thank-div{
        padding: 1rem;
    }

    .model-h2{
        font-size: 1.2rem;
        margin-top: 1rem;
    }

    .cross{
        margin-top: 1rem;
    }

    .model-para, .model-h3{
        font-size: 0.88rem;
    }

    .h3-div{
        flex-direction: column;
        text-align: start;
        margin-top: 0.1rem;
        justify-content: start;
    }

    .p-span{
        display: inline-block;
        margin-top: 0.5rem;
        margin-left: 1rem;
    }

    #model .pledge-para{
        font-size: 0.82rem;
        font-weight: 500;
    }

    .model1-h3{
        margin-top: 12rem;
        position: absolute;
    }

    .money{
        margin-top: 2.5rem;
    }

    .money-input{
        width: 100%;
    }

    .money-div{
        flex-direction: column;
    }

    .money-div1{
        width: auto;
        margin-top: 1rem;
    }

    .dollor, .money-input{
        font-size: 1rem;
    }

    .money-btn{
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }

    .thank-h2{
        font-size: 1.2rem;
        font-weight: 700;
    }

    .thank-para{
        font-size: 0.88rem;
    }

}
  /* ======================== End Media Querry Area ================ */